<div class="book-list">
  <div class="book" [routerLink]="['/books/book-details/', book.bookId]">
    <div class="book-img">
      <img [src]="book.imageURL" alt="{{ book.bookTitle }}" />
    </div>
    <div class="book-info">
      <div class="title">
        <p class="title-p"><strong>Title:</strong> {{ book.bookTitle }}</p>
      </div>
      <div class="category">
        <p class="category-p"><strong>Category:</strong> {{ book.category }}</p>
        
      </div>
      <div class="reading-age">
        <p>
          <strong>Reading age:</strong> {{ book.ageFrom }} -
          {{ book.ageTo }} years
        </p>
        <div class="like">
          <i class="fa-solid fa-heart"></i><span>{{book.likesArr?.length}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
