.book-list {
    width: 320px;
    background-color: rgba(245, 245, 245, 0.861);
    margin: 10px 15px;
    padding-top: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.682), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.book {
    display: flex;
    flex-direction: column;
}

.book:hover {
    cursor: pointer;
}

.book-list:hover {
    box-shadow: 10px 10px 18px #cccccc;
    transform: scale(1.05);
}


.book-img {
    display: flex;
    justify-content: center;
}

.book-img img {
    height: 250px;
    width: 90%;
}

.book-info {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-evenly;
}

.category {
    display: flex;
    justify-content: space-between;
}


.title,
.category,
.reading-age {
    margin: 5px 10px;
}

.reading-age {
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.like{
    margin-left: 60px;
}

.like i {
    color: #60218c;
    font-size: 25px;
    margin-right: 10px;
}

.like span {
    font-size: 20px;
}