<section class="book-add-container">
  <header>Add New Book</header>
  @if(errMessage !== null && errMessage !== '' && errMessage !== undefined) {
  <snackbar [errorText]="errMessage" />
  }
  <form class="book-form" #bookForm="ngForm" (ngSubmit)="addNewBook(bookForm)">
    <div class="input-box">
      <input
        type="text"
        placeholder="Book Title"
        name="bookTitle"
        ngModel
        minlength="5"
        pattern="^[^\s]+(\s+[^\s]+)*$"
        required
        #bookTitle="ngModel"
      />
      @if(bookTitle.invalid && (bookTitle.dirty || bookTitle.touched)){
      <div class="error">
        @if(bookTitle.errors?.['required']) {<small
          >*Book title is required.</small
        >} @if(bookTitle.errors?.['pattern']) {<small
          >*Invalid format for book title.</small
        >} @if(bookTitle.errors?.['minlength']) {<small
          >*Book title must be at least 5 characters long.</small
        >}
      </div>
      }
    </div>

    <div class="column">
      <div class="input-box">
        <input
          type="text"
          placeholder="Author Name"
          name="authorName"
          ngModel
          required
          minlength="5"
          pattern="^[^\s]+(\s+[^\s]+)*$"
          #authorName="ngModel"
        />
        @if(authorName.invalid && (authorName.dirty || authorName.touched)){
        <div class="error">
          @if(bookTitle.errors?.['required']) {<small
            >*Author name is required.</small
          >} @if(authorName.errors?.['pattern']) {<small
            >*Invalid format for author name.</small
          >} @if(authorName.errors?.['minlength']) {<small
            >*Author name must be at least 5 characters long.</small
          >}
        </div>
        }
      </div>
      <div class="input-box">
        <input
          type="text"
          placeholder="Book Category"
          name="category"
          ngModel
          required
          minlength="4"
          pattern="^[^\s]+(\s+[^\s]+)*$"
          #category="ngModel"
        />
        @if(category.invalid && (category.dirty || category.touched)){
        <div class="error">
          @if(category.errors?.['required']) {<small
            >*Category is required.</small
          >} @if(category.errors?.['pattern']) {<small
            >*Invalid format for category.</small
          >} @if(category.errors?.['minlength']) {<small
            >*Category must be at least 4 characters long.</small
          >}
        </div>
        }
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        placeholder="Image URL"
        name="imageURL"
        ngModel
        required
        pattern="https:\/\/.*"
        #imageURL="ngModel"
      />
      @if(imageURL.invalid && (imageURL.dirty || imageURL.touched)){
      <div class="error">
        @if(imageURL.errors?.['required']) {<small
          >*image URL is required.</small
        >} @if(imageURL.errors?.['pattern']) {<small
          >*Invalid format for URL.</small
        >}
      </div>
      }
    </div>

    <div class="column">
      <div class="input-box">
        <input
          type="number"
          placeholder="Age from"
          name="ageFrom"
          ngModel
          required
          min="0"
          max="17"
          #ageFrom="ngModel"
        />
        @if(ageFrom.invalid && (ageFrom.dirty || ageFrom.touched)){
        <div class="error">
          @if(ageFrom.errors?.['required']) {<small
            >*Age From is required.</small
          >} @if(ageFrom.errors?.['max'] || ageFrom.errors?.['min']) {<small
            >*Age must between 0 and 17.</small
          >}
        </div>
        }
      </div>
      <div class="input-box">
        <input
          type="number"
          placeholder="Age to"
          name="ageTo"
          ngModel
          required
          min="1"
          max="18"
          #ageTo="ngModel"
        />
        @if(ageTo.invalid && (ageTo.dirty || ageTo.touched)){
        <div class="error">
          @if(ageTo.errors?.['required']) {<small>*Age To is required.</small>}
          @if(ageTo.errors?.['max'] || ageTo.errors?.['min']) {<small
            >*Age must between 1 and 18.</small
          >} @if(bookForm.value.ageFrom >= bookForm.value.ageTo) {<small
            >*Age To cannot be greater than Age From.</small
          >}
        </div>
        }
      </div>
    </div>
    @if(!ageFrom.invalid && !ageTo.invalid && ageFrom.value >= ageTo.value) {
      <div class="error">
        <small>*Age From cannot be greater than Age To.</small>
      </div>
      }
    <div class="input-box">
      <input
        type="text"
        placeholder="Description"
        name="description"
        ngModel
        required
        minlength="20"
        pattern="^[^\s]+(\s+[^\s]+)*$"
        #description="ngModel"
      />
      @if(description.invalid && (description.dirty || description.touched)){
      <div class="error">
        @if(description.errors?.['required']) {<small
          >*Description is required.</small
        >} @if(description.errors?.['pattern']) {<small
          >*Invalid format for description.</small
        >} @if(description.errors?.['minlength']) {<small
          >*Description must be at least 20 characters long.</small
        >}
      </div>
      }
    </div>

    <button
      type="submit"
      value="Submit"
      class="submit-btn"
      [disabled]="!bookForm.valid"
    >
      Add Book
    </button>
  </form>
</section>
