<div class="second-nav">
  <div class="bottom-bar">
    <a
      class="bottom-bar-btn"
      routerLink="new-added"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      >New Added</a
      
    >
    
    <a
      class="bottom-bar-btn"
      routerLink="most-popular" 
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }" 
      >Most Popular</a
    >
    <!-- <a
      class="bottom-bar-btn" 
      routerLink="readers-opinions"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      >Readers Opinions</a
    >
    <a
      class="bottom-bar-btn"
      routerLink="my-library"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }"
      >My Library</a
    > -->
  </div>
</div>
