<div class="second-nav">
  <div class="bottom-bar">
    <button class="bottom-bar-btn" value="newest" #btnNewest (click)="onClick(btnNewest.value)">
      New Added
    </button>

    <button class="bottom-bar-btn" value="popular" #btnPopular (click)="onClick(btnPopular.value)">
      Popular
    </button>

    <button class="bottom-bar-btn" value="nameAZ" #btnNameAZ (click)="onClick(btnNameAZ.value)">
      Name (A - Z)
    </button>

    <button class="bottom-bar-btn" value="nameZA" #btnNameZA (click)="onClick(btnNameZA.value)" >
      Name (Z - A)
    </button>
  </div>
</div>
