.navigation {
    background-color: #6a5fa6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    width: 80%;
    padding: 1vh 2vh;
}

.logo:hover {
    transform: scale(0.8);
    transition: 0.5s;

}.top-nav-items {
    display: flex;
    justify-items: end;
}


.top-nav {
    display: flex;
    justify-content: end;
    padding: 10px;
   
}


.item a {
    text-decoration: none;
    padding: 2vh 1vh;
}

.item {
    margin: auto 8px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
}

.item a, .item i {
    text-decoration: none;
    color: white;
}


.logo-btn {
    padding: 0px 10px;
    margin-left: 10px;
    font-size: 32px;
    font-style: oblique;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.active {
    transform: scaleX(1.2);
    background-color: #b2aadf;
    padding: 5px;
    border-radius: 5px;
    
}
